.productcard {
    @include flex-col;
    align-items: center;
    cursor: pointer;
    padding: 0.7em;
    span {
        display: flex;
        overflow: hidden;
        height: 70%;
    }
    img {
        margin-bottom: 1.5em;
    }
    h3 {
        font-size: $fs-body;
        font-weight: $fw-bold;
        vertical-align: top;
    }
}

.productcard__container {
    @include flex-col;
    gap: 0.4em;
    width: 19em;
    height: 19em;
}