.productcard {
    @include flex-col;
    gap: 1em;
    padding: 1em;
    justify-content: start;
    cursor: pointer;
    border: 1px solid $clr-300;
    img {
        width: 8em;
        height: 8em;
    }
    h3 {
        font-size: $fs-body;
        font-weight: $fw-bold;
        vertical-align: top;
    }
    p {
        margin-top: auto;
    }
}