.basketitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $clr-300;
    padding: 1em;
}

.basketitem__image {
    width: 5em;
    height: 5em;
    @include flex-center;
    margin-right: 2em;

    img {
        object-fit: contain;
    }
}
.basketitem__left {
    display: flex;
    align-items: center;
}

.basketitem__details {
    font-size: $fs-body;
    h2 {
        font-weight: $fw-bold;
    }
}

.basketitem__details-remove {
    font-size: $fs-xs;
    cursor: pointer;
    color: $clr-500;
}

.basketitem__counter {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: $fs-sm;

    input {
        width: 2em;
        text-align: center;
    }
}