@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin container {
    $max-container-width: 1280px;
    $container-padding: 1rem;

    width: min($max-container-width, 100% - $container-padding*2);
    margin-inline: auto;
}