.basketpage {
    margin-top: 2em;
    @include flex-col;
    gap: 2em;
}

.basketpage-grid {
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));

    h1 {
        margin-bottom: 1em;
    }
}

.basketpage__products-list {
    @include flex-col;
    gap: 1em;

    p {
        opacity: 0.6;
        font-size: $fs-body;
    }
}

.basketpage__summary {
    max-width: 20em; 

    button {
        margin-top: 1em;
        
    }
} 