.basketpage {
    @include container;
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));

    h1 {
        margin-bottom: 1em;
    }
}

.basketpage__products-list {
    @include flex-col;
    gap: 1em;
}

.basketpage__summary {
    max-width: 20em; 
} 